body{

    font-family: popins, sans-serif;
    margin: 0;
   
}

.background-section{
    background-image: url(./donate-today/images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    height: 700px;

}

.first-button{

    background-color: goldenrod;
    padding: 20px 20px;
    border-radius: 5px;
    border-color: goldenrod;
    font-size: 30px;
}

.text-donate{

    text-align: center;
    padding-top: 100px;
}

.money-section{

    display: flex;
    margin-left: 380px;
}

.font-big{
    font-size: 40px;
    padding-left: 45px;
    padding-top: 50px;
    box-shadow: 2px 3px 4px gray;
    height: 100px;
    width: 150px;
    margin-left: 50px;    
}

.amount-money{
    text-align: center;
}

hr{
    margin-left: 427px;
    margin-right: 415px;
}
.second-button{
    
    background-color: goldenrod;
    padding: 15px 70px;
    border-radius: 5px;
    border-color: goldenrod;
    font-size: 30px;
    margin-left: 900px;
    margin-top: 10px;

}

.icon-photo{

    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.box-section{

    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    
}


.box-ready{

    box-shadow: 10px 10px 20px gray;
    background-color: rgb(231, 221, 201);
    height: 500px;
    width: 520px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

footer{

    margin-top: 200px;
    background-color: rgb(40, 63, 5);
}

.text-big{

    text-align: center;
}

.text-color{

    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}