body{

    font-family: popins, sans-serif;
    margin: 0;
   
}

.big-header{

    font-size: 60px;
    color: red;
}
/* 
.para-tag{

    color: rgba(255, 255, 255, 0.021);
    font-weight: bold;
    font-size: 30px;

} */

.background-section{
    background-image: url(./images//donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    height: 700px;

}

.first-button{

    background-color: goldenrod;
    padding: 20px 20px;
    border-radius: 5px;
    border-color: goldenrod;
    font-size: 30px;
}

.para-donate{

    padding-left: 300px;
    padding-right: 300px;
}

.text-donate{

    text-align: center;
    padding-top: 100px;
}

.money-section{

    display: flex;
    margin-left: 380px;
  
}

.font-big{
    font-size: 40px;
    padding-left: 45px;
    padding-top: 50px;
    box-shadow: 2px 3px 4px gray;
    height: 100px;
    width: 150px;
    margin-left: 50px;    
}

.amount-money{
    text-align: center;

}

hr{
    margin-left: 427px;
    margin-right: 415px;
}
.second-button{
    
    background-color: goldenrod;
    padding: 15px 70px;
    border-radius: 5px;
    border-color: goldenrod;
    font-size: 30px;
    margin-left: 900px;
    margin-top: 10px;

}

.icon-photo{

    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.box-section{

    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    
}


.box-ready1{

    box-shadow: 10px 10px 20px gray;
    background-color: cadetblue;
    height: 520px;
    width: 520px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}


.box-ready2{

    box-shadow: 10px 10px 20px gray;
   background-color: burlywood;
    height: 520px;
    width: 520px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}


.box-ready3{

    box-shadow: 10px 10px 20px gray;
    background-color: darksalmon;
    height: 520px;
    width: 520px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}




.text-big{

    text-align: center;
}


.landing-page{

    display: flex;
    margin-top: 150px;
}

.landing-gap{

    margin-top: 111px;
}

.landing-image{
    border-radius: 10%;
    
 
}

.heading-text{

    padding-left: 80px;

}

.landing-image2{

    height: 680px;
    width: 1005px;
    border-radius: 10%;
    margin-left: 30px;
}

.paragraph-text1{

    padding-left: 10px;
}

.paragraph-text2{

   
    padding-left: 80px;
}

.third-button{

    
    background-color: tomato;
    padding: 25px 70px;
    border-radius: 5px;
    border-color: tomato;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 30px;

}

.big-header2{

    font-size: 60px;
    color: red;
    text-align: center;
}

.para-tag2{

    padding-left: 250px;
    padding-right: 250px;
}

.email-subscribe{

    display: flex;
    padding: 60px 30px;
    background-color: cornsilk;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 5px;
    margin-top: 70px;
    

}



.button-last1{
padding: 20px;
padding-left: 300px;
padding-right: 50px;
border-radius: 5px;
margin-left: 180px;
border-color: cornsilk;

}


.button-last2{

    margin-right: 400px;
    padding: 20px;
    padding-right: 40px;
    background-color: tomato;
    border-color: tomato;
    border-radius: 5px;
}

footer{

    margin-top: 200px;
    background-color: rgb(40, 63, 5);
}

.text-color{

    color: orange;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 50px;
}

.black-text{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    font-weight: ;
}
